<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>03-socket请求百度.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7EEDCF251DE42ECE00868D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EEDCF3E1DE42ECE00868D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EEDCF491DE42ECE00868D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
