<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>04-请求的两种方法对比.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E94B9CD1DF29A42006CDCC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E94B9E61DF29A43006CDCC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E94B9F11DF29A43006CDCC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
